@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Marhey:wght@400;500&display=swap');

@import './reset.css';
@import './utils.css';
@import './animation.css';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 350px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: 'Handlee', cursive;
}

.bg {
    position: fixed;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/HD-wallpaper-tic-tac-toe-game-s-logo.jpg)
        center/cover;
    opacity: 0.5;
    z-index: -2;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    font-family: 'Marhey';
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-text,
.tac {
    display: inline-block;
    background: repeating-radial-gradient(
        circle farthest-corner at bottom center,
        #ff015e 0%,
        #ff287a 100%
    );
    font-size: calc(1rem + 2vw);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: rgb(0, 0, 0) -1px -5px 6px;
}

.tac {
    margin-left: -0.1rem;
    font-size: 3rem;
    rotate: -11deg;
}

.quote {
    margin-top: 1rem;
    color: white;
}

/* Tic Tac Toe Game */

.tic-tac-toe-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    border-radius: 1rem;
}

.game-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.764);
    border-radius: 1.5rem;
    box-shadow: rgb(255, 0, 93) 0px 1px 4px,
        rgb(241, 110, 160, 28%) 0px 0px 4px 4px;
}

.ready {
    position: relative;
    top: -4rem;
    font-size: 2rem;
    color: white;
}

.start-game-btn,
.repeat-game {
    width: 10rem;
    height: 2.5rem;
    background-color: #eb2c758f;
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 8px;
    transition: opacity 0.3s;
    z-index: 1;
    cursor: pointer;
}

.squareContainer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    height: 85%;
    aspect-ratio: 1/1;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 0;
}

.field:nth-child(1),
.field:nth-child(4),
.field:nth-child(7),
.field:nth-child(2),
.field:nth-child(5),
.field:nth-child(8) {
    border-right: 3px solid rgba(55, 89, 241, 0.906);
}

.field:nth-child(4),
.field:nth-child(5),
.field:nth-child(6),
.field:nth-child(7),
.field:nth-child(8),
.field:nth-child(9) {
    border-top: 3px solid rgba(55, 89, 241, 0.906);
}

/* FIELD */

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    height: 33.3333%;
    font-size: 3rem;
    color: white;
}

.winner-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 55%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.874);
    box-shadow: rgb(255, 0, 93) 0px 1px 4px, rgb(32, 32, 32) 0px 0px 4px 4px;
    animation: fadeIn 0.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 1.5s;
}

.winnerImg {
    width: 7rem;
    height: 7rem;
    animation: rocking 2s ease-in-out infinite;
}

.winner-message {
    position: relative;
    padding: 0 0.5rem;
    margin-top: -1.5rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: white;
}


.winning-line {
    height: 5px;
    background-color: red;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
    transform-origin: 0 50%; /* Smooth transition */
}

.low-visibility {
    opacity: 0.3; /* Lower the opacity to make it less visible */
}

.repeat-game {
    position: absolute;
    bottom: -1.7rem;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-family: 'Marhey';
}

.attribution {
    font-size: 0.7rem;
    color: white;
    letter-spacing: 0.2rem;
}

.attribution a {
    background-color: rgba(20, 32, 66, 0.367);
    color: rgb(0, 97, 253);
    border-top: 0.5px solid rgba(101, 161, 235, 0.645);
    border-left: 0.5px solid rgba(0, 136, 255, 0.461);
    text-decoration: none;
    border-radius: 15%;
}

/* Media */

@media screen and (min-width: 768px) {
    .header {
        margin-top: 2.5rem;
    }

    .quote {
        margin-top: 1.2rem;
    }

    .game-frame {
        width: 70%;
        margin-top: 2rem;
    }

    .field {
        cursor: pointer;
        border-radius: 1rem;
    }

    .field:hover {
        background-color: rgba(7, 41, 92, 0.269);
        color: #eb2c75;
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 1.4rem;
    }

    .game-frame {
        width: 68%;
        height: 24rem;
        margin-top: 4rem;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        margin-top: 4rem;
    }

    .tic-tac-toe-container {
        margin-top: 2rem;
    }

    .game-frame {
        width: 50%;
        height: 24rem;
    }

    .winnerImg {
        width: 9rem;
        height: 9rem;
    }
}

@media screen and (min-width: 1440px) {
    .game-frame {
        width: 50%;
        height: 24rem;
    }
}
